<ul class="grid grid-cols-1 desktop:grid-cols-2 gap-2 desktop:gap-4">
  <li *ngFor="let score of scores">
    <seven-wonders-scorer-user-card [score]="score"
                                    (openModalEvent)="openModal($event)"></seven-wonders-scorer-user-card>
  </li>
</ul>
<button (click)="addUser()">addUser</button>
<seven-wonders-scorer-score-update-modal [showModal]="showModal"
                                         [username]="username"
                                         (closeModalEvent)="closeModal()"
></seven-wonders-scorer-score-update-modal>
