@use 'tailwindcss';

/* You can add global styles to this file, and also import other style files */
.remove-arrow {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  -moz-appearance: textfield;
}
